.menu__text {
    margin-left: 34px;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #ffffff;
}

.menu__text:hover {
    text-decoration: underline;
}

.menu__hiden {
    display: none;
}