@import url("./__text/footer__text.css");

.footer__menu {
    display: flex;    
    margin-left: auto;
    align-items: center;    
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__menu {
        grid-area: menu;
        grid-column-start: 1;
        grid-column-end: 1;
        margin: 20px 0 0 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}