.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;    
    background-image: url(../../images/georgia-de-lotz.png);   
    background-size: cover;
    

    border: 1px red solid;
}