.search__button {
    background-color: #2f71e5;
    height: 64px;
    border: 0;    
    color: white;
    width: 168px;
    position: absolute;
    right: 0;
    bottom: 0;    
}


.search__button:hover {
    background-color: #347EFF;
}
