@import url("./__button/header__button.css");
@import url("./__menu/header__menu.css");
@import url("./__site-name/header__site-name.css");


.header {
    display: flex;
    align-items: center;
    padding: 0 104px 0 104px;
    font-family: 'Roboto Slab';
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
    width: 100%;    
}