.header__site-name {
    display: block;
    font-family: "Roboto Slab";
    font-size: 20px;
    line-height: 24px;    
    margin: 30px 0 26px 104px;

}

@media screen and (max-width: 768px) {
    .header__site-name {
        font-size: 20px;
        margin: 22px 0 18px 40px;
    }
}

@media screen and (max-width: 425px) {
    .header__site-name {
        font-size: 16px;
        margin: 16px 0 16px 16px;
    }
}