@import url("../../button/button.css");

.header__button {
    width: 176px;
    height: 48px;
    background-color: transparent;
    color: white;
    margin-right: 104px;
}

.header__button.white-theme {
    color: #000000;
}