@import url("./__title/search__title.css");
@import url("./__subtitle/search__subtitle.css");
@import url("./__form/search__form.css");
@import url("./__input/search__input.css");
@import url("./__button/search__button.css");

.search {
    display: flex;
    flex-direction: column;
    align-items: left; 
    width: 608px;
    margin-top: 80px;    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .search {
        width: 448px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .search {
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 30px;
    }
}