@import url("../vendor/fonts.css");
@import url("../vendor/normalize.css");
@import url("../blocks/main/main.css");
@import url("../blocks/header/header.css");
@import url("../blocks/search/search.css");
@import url("../blocks/about/about.css");
@import url("../blocks/footer/footer.css");
@import url("../blocks/search-result/search-result.css");
@import url("../blocks/news/news.css");
@import url("../blocks/popup/popup.css");
@import url("../blocks/form/form.css");
@import url("../blocks/preloader/preloader.css");



@import url("../blocks/info/info.css");
@import url("../blocks/saved-news/saved-news.css");






.page {
    max-width: 1440px;
    margin: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    position: relative;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;    
}



@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .page {
        max-width: 1024px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .page {
        max-width: 768px;
    }
}


@media screen and (min-width: 320px) and (max-width: 767px) {
    .page {
        max-width: 425px;
    }
}
