.search__input {
    width: 580px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid #D1D2D6;    
    padding-left: 24px;    
}

.search__input:focus {
    outline: none;
}

@media screen and (max-width: 768px) {
    .search__input {
        width: 424px;
        height: 56px;
        padding: 0 0 0 20px;
        border: 0;
    }
}

@media screen and (max-width: 425px) {
    .search__input {
        width: 100%;
        
        /* margin: 16px 0 16px 0; */
        box-sizing: border-box;
    }
}