@import url("./_is-opened/news__card_is-opened.css");

.news__card {
    position: relative;    
    border-radius: 20px;
    margin-bottom: 16px;
    background-color: #ffffff;
    display: none;    
}